@media (max-width: 1024px) {
    .nav-right {
        display: none;
    }
    .menu {
        display: block;
    }
}
@media (max-width: 767px) {
    .logo {
        max-width: 160px;
    }
    .menu {
        max-width: 70px;
    }
    .container-main {
        padding: 10px;
    }

}
@media (max-width: 600px) {
    .block-container {
        grid-template-columns: repeat(auto-fit ,minmax(200px, 1fr));
    }
}
